<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shanksit.japedu.admin.dao.mapper.SchoolMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="org.shanksit.japedu.admin.entity.SchoolEntity" id="schoolMap">
        <result property="id" column="id"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="stat" column="stat"/>
        <result property="delFlag" column="del_flag"/>
        <result property="schoolName" column="school_name"/>
        <result property="address" column="address"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="contactEmail" column="contact_email"/>
        <result property="admissionsPhone" column="admissions_phone"/>
        <result property="remark" column="remark"/>
        <result property="teachingMaterialName" column="teaching_material_name"/>
        <result property="teachingMaterialId" column="teaching_material_id"/>
    </resultMap>


</mapper>
